<div class="container-fluid fullscreen-container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
      <div class="container-img">
        <img
          style="height: 100%; width: 100%;"    
          src="../../../assets/img/Don Tacos.png"
          class="img-fluid"
          alt="imagen-logo"
        />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-right align-items-center">
      <h1 class="text-end m-1">Una Rica Historia que Contar</h1>
      <p class="text-end m-1">
        "Somos una taquería mexicana auténtica y apasionada, comprometida en
        brindar a nuestros clientes una experiencia gastronómica única y
        deliciosa. Desde que abrimos nuestras puertas, nuestro objetivo ha sido
        servir comida tradicional mexicana con ingredientes frescos y de
        calidad, preparados con las recetas y técnicas auténticas que se han
        transmitido de generación en generación
      </p>
      <p class="text-start m-1">
        En nuestra taquería, valoramos la hospitalidad y el servicio al cliente.
        Queremos que nuestros clientes se sientan como en casa mientras
        disfrutan de la auténtica cocina mexicana. Por eso, trabajamos duro para
        ofrecer un ambiente cálido y acogedor, donde los clientes pueden
        disfrutar de una excelente comida, bebidas refrescantes y buena
        compañía.
      </p>
      <p class="text-start m-1">
        Gracias por visitarnos y permitirnos compartir nuestra pasión por la
        comida mexicana con usted. Esperamos verlo pronto en nuestra taquería."
      </p>
      <p class="text-end m-1">
        <i class="bi bi-arrow-right-circle"></i><a routerLink="/menu">Menú</a>
      </p>
    </div>
  </div>
</div>
